.property {
  width: 470px;
  min-height: 380px;
  margin-top: 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
.property:hover {
  scale: 1.02;
}
.imgDiv {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.imgDivHeader {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  z-index: 1;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  padding: 4px 12px;
  border-radius: 5px;
  color: white;
  width: 70px;
  height: 30px;
  font-size: 14px;
}
.addToFavorite {
  background-color: hsl(0, 0%, 67%);
  color: rgb(44, 44, 44);
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}
.addToFavorite:hover {
  background-color: white;
}
.infoDiv {
  padding: 16px;
}
.infoDivHeader {
  display: flex;
  justify-content: space-between;
}
.infoPrice {
  color: orange;
}
.addressProperty {
  margin-top: 15px;
  color: rgb(82 82 82);
}
.moreInfoProperty {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  margin-top: 15px;
}
.moreInfo {
  color: rgb(82 82 82);
}
.moveIcon {
  margin-left: 5px;
}
.callDiv {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-top: 1px solid rgb(82 82 82);
}
.moreInfoBtn {
  all: unset;
  color: hsl(222 47% 24%);
  font-size: 17px;
}

.callMeBtn {
  all: unset;
  color: orange;
  font-size: 17px;
}
.moreInfoBtn:hover,
.callMeBtn:hover {
  text-decoration: underline;
}
.btnEdit{
  display: flex;
  gap: 20px;
}
@media (max-width: 500px) {
  .property {
    width: 90%;
    height: auto;
    margin-top: 20px;
    box-sizing: border-box;
  }


  .title {
    font-size: 12px;
    width: 60px;
    height: 25px;
  }

  .infoDivHeader h3 {
    font-size: 14px;
  }

  .infoPrice {
    font-size: 14px;
  }

  .addressProperty {
    font-size: 14px;
  }

  .moreInfoProperty {
    font-size: 14px;
  }

  .moreInfo {
    font-size: 14px;
  }

  .moreInfoBtn,
  .callMeBtn {
    font-size: 14px;
  }
}